@import "tailwindcss";

@theme {
  --color-primary: rgba(255, 255, 255, 0.6);
  --color-primary: rgba(255, 255, 255, 0.6);
  --color-primary-button: rgba(255, 255, 255, 0.05);
  --color-primary-button-hover: rgba(49, 46, 181, 1);
    --color-primary-hover: #312eb5;
    --color-secondary: rgba(255, 255, 255, 1);
    --color-secondary-hover: rgba(255, 255, 255, 0.03);
    --color-middle: rgba(255, 255, 255, 0.03);
    --color-middle-active: rgba(255, 255, 255, 0.1);
}
